:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000 ;
    --accent-color: #18A0FB ;
    --primary-white-color: #fff ;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.logo {
    color: var(--title-text-color) ;
}

.logo:focus, .logo:hover {
    color: var(--accent-color);
}

.site-nav a {
    color: var(--accent-color) ;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color:var(--title-text-color) ;
}