:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000 ;
    --accent-color: #18A0FB ;
    --primary-white-color: #fff ;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Montserrat, sans-serif;
    letter-spacing: -0.015em;
    font-size: 18px;
    line-height: 1.67;
}

.container {
    margin-left: auto;
    margin-right: auto;      
    width: 1440px;
    outline: 2px solid tomato;
}

.logo {
    color: var(--title-text-color) ;
    font-family: Comfortaa, cursive;
    Font-size: 28px;
    Line-height: 1.14;
    letter-spacing: -0.015em;
    text-decoration: none;;
}

.logo:focus, .logo:hover {
    color: var(--accent-color);
}

.site-nav a {
    color: var(--accent-color) ;
    font-weight: 500;
    Font-size: 15px;
    Line-height: 1.2;
    
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color:var(--title-text-color) ;
}

/* акцент #18A0FB */
/* цвет текста #000 */
/* цвет втор текста rgba(0, 0, 0, 0.8) */
/* цвет фона #fff */
/* цвет фтор фона #F5F5F5 */

.hero{
    text-align: Center;
}

.hero-title {
    margin: 0;padding: 0;
    margin-bottom: 40px;
    color: var(--title-text-color);

    font-weight: 400;
    Font-size: 56px;
    Line-height: 1.43;
    
}

.section-title {
    color: var(--title-text-color);

    font-weight: 400;
    Font-size: 48px;
    Line-height: 1.5;
    text-align : Center;
}

/* features */
.feature-list .title,
.work-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}


/* work examples */


/* Button */
.button {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 6px;
    padding: 11px 34px;
    min-width: 130px;

    color: var(--title-text-color);
    background-color: var(--primary-bg-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    text-decoration: none; 
    
}

.button.secondary {
    color: var(--accent-color);
    background-color:  var(--primary-white-color);
    text-decoration: none;
    border-color: var(--accent-color);
}

.section-description {
    font-size: 36px;
    line-height: 1.39;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

