html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}


.box{
    /* border: 5px solid tomato; */
    /* padding: 20px ;  */
    /* margin: 20px;   */
    /* background-color: tomato; */
    margin-bottom: 50px;
    outline: 3px solid tomato;
    
}



.btn {
   
    display: inline-block;
     padding: 20px 40px;
     border: 2px solid black;
     border-radius: 3px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}

.btn-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 6px;
    background-color: blue;
    vertical-align: middle;
}